#bg{
    background-color: rgb(112, 240, 219);
}

#img-bg{
    background-image: url('../../assets/imagens/Welcome-pana.png');

    min-height: 725px;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
}